<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2020 The Android Open Source Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="android.nfc.test"
          android:targetSandboxVersion="2">
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.NFC_PREFERRED_PAYMENT_INFO" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"/>
    <queries>
        <package android:name="com.android.test.foregroundnfc" />
        <package android:name="com.android.test.walletroleholder" />
    </queries>
    <application android:testOnly="true">
        <uses-library android:name="android.test.runner"/>
        <service android:name=".CustomHostApduService" android:exported="true"
                 android:permission="android.permission.BIND_NFC_SERVICE">
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE"/>
            </intent-filter>
            <meta-data android:name="android.nfc.cardemulation.host_apdu_service"
                       android:resource="@xml/custom_aid_list"/>
        </service>
        <service android:name=".SecondHostApduService" android:exported="true"
                 android:permission="android.permission.BIND_NFC_SERVICE">
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE"/>
            </intent-filter>
            <meta-data android:name="android.nfc.cardemulation.host_apdu_service"
                       android:resource="@xml/second_aid_list"/>
        </service>
        <activity android:name="android.nfc.test.NfcFCardEmulationActivity"
             android:exported="false">
        </activity>
        <activity android:name="android.nfc.test.ForegroundHceActivity"
             android:exported="false">
        </activity>
        <receiver android:name=".PollingLoopBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.nfc.test.PollingLoopFired" />
            </intent-filter>
        </receiver>
    </application>
    <!-- This is a self-instrumenting test package. -->
    <instrumentation android:name="androidx.test.runner.AndroidJUnitRunner"
                     android:label="Stress and regression tests for NFC CardEmulation API"
                     android:targetPackage="android.nfc.test">
    </instrumentation>
</manifest>
